// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

#navbarNotificationDropdown::after, .tweet-actions::after {
    display: none;
}

.notification-count {
    float: right;
    margin-top: -6px;
    margin-left: -8px;
}

a {
    text-decoration: none;
    color: #111113;
}
